.search {
  display: flex;
}

.searchInput {
  display: flex;
  flex: 1;
  font-size: x-large;
  font-family: 'Atma', cursive;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

.searchIcon {
  width: 30px;
  height: 30px;
  margin: 2px;
}